<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>login</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.test.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCl</display-name>
    <servlet-name>LoginCl</servlet-name>
    <servlet-class>com.test.LoginCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCl</servlet-name>
    <url-pattern>/LoginCl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Wel</display-name>
    <servlet-name>Wel</servlet-name>
    <servlet-class>com.test.Wel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wel</servlet-name>
    <url-pattern>/Wel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.test.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Major</display-name>
    <servlet-name>Major</servlet-name>
    <servlet-class>com.test.Major</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Major</servlet-name>
    <url-pattern>/Major</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.test.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCl</display-name>
    <servlet-name>DelCl</servlet-name>
    <servlet-class>com.test.DelCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCl</servlet-name>
    <url-pattern>/DelCl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ok</display-name>
    <servlet-name>Ok</servlet-name>
    <servlet-class>com.test.Ok</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ok</servlet-name>
    <url-pattern>/Ok</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Err</display-name>
    <servlet-name>Err</servlet-name>
    <servlet-class>com.test.Err</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Err</servlet-name>
    <url-pattern>/Err</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCl</display-name>
    <servlet-name>UpdateCl</servlet-name>
    <servlet-class>com.test.UpdateCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCl</servlet-name>
    <url-pattern>/UpdateCl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>com.test.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCl</display-name>
    <servlet-name>AddCl</servlet-name>
    <servlet-class>com.test.AddCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCl</servlet-name>
    <url-pattern>/AddCl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LookFor</display-name>
    <servlet-name>LookFor</servlet-name>
    <servlet-class>com.test.LookFor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LookFor</servlet-name>
    <url-pattern>/LookFor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Result</display-name>
    <servlet-name>Result</servlet-name>
    <servlet-class>com.test.Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Result</servlet-name>
    <url-pattern>/Result</url-pattern>
  </servlet-mapping>
 

</web-app>